body {
	font: normal normal 12px "microsoft yahei";
}
p{
	line-height: 25px;
}
.navbar .navbar-inner {
	background: none white;
}
.brand img {
	height: 30px;
	vertical-align: bottom;
}
.navbar .brand {
	font: normal bold 26px/28px 'arial';
}
.navbar .brand small {
	font-size: 14px;
	letter-spacing: 1px;
}
.navbar .brand a{
	color: #009CE1;
}
.navbar .brand a:hover {
	color: #0099CB;
	text-decoration: none;
}