<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../css/newsList.css" />
	<title>new list item</title>
</head>
<body>
	<div class="c-news-item c-news-item-wrap">
		<div class="c-news-item-left">
			<i class="c-avator" style="background-image: url(../img/face.jpg);"></i>
			<i class="c-news-type"></i>
		</div>
		<div class="c-news-item-right">
			<h2 class="c-nickname">测试昵称</h2>
			<div class="c-news-item-line c-relative">
				<span class="c-distance">距你 1.2 km</span>
				<span class="c-aword c-right">陪您看电影</span>
			</div>
			<div class="c-news-item-line c-split-bottom">
				<p>测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述</p>
			</div>
			<div class="c-news-item-line c-relative">
				<span class="c-chart-num">0</span>
				<span class="c-sent-time c-right">2分钟前</span>
			</div>
		</div>
	</div><!-- c-news-item -->
	
	<div class="c-news-item c-news-item-wrap">
		<div class="c-news-item-left">
			<i class="c-avator" style="background-image: url(../img/face.jpg);"></i>
			<i class="c-news-type"></i>
		</div>
		<div class="c-news-item-right">
			<h2 class="c-nickname">测试昵称</h2>
			<div class="c-news-item-line c-relative">
				<span class="c-distance">距你 1.2 km</span>
				<span class="c-aword c-right">陪您看电影</span>
			</div>
			<div class="c-news-item-line c-split-bottom">
				<p>测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述</p>
			</div>
			<div class="c-news-item-line c-relative">
				<span class="c-chart-num">0</span>
				<span class="c-sent-time c-right">2分钟前</span>
			</div>
		</div>
	</div><!-- c-news-item -->
	
	<div class="c-news-item c-news-item-wrap">
		<div class="c-news-item-left">
			<i class="c-avator" style="background-image: url(../img/face.jpg);"></i>
			<i class="c-news-type"></i>
		</div>
		<div class="c-news-item-right">
			<h2 class="c-nickname">测试昵称</h2>
			<div class="c-news-item-line c-relative">
				<span class="c-distance">距你 1.2 km</span>
				<span class="c-aword c-right">陪您看电影</span>
			</div>
			<div class="c-news-item-line c-split-bottom">
				<p>测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述</p>
			</div>
			<div class="c-news-item-line c-relative">
				<span class="c-chart-num">0</span>
				<span class="c-sent-time c-right">2分钟前</span>
			</div>
		</div>
	</div><!-- c-news-item -->
	
	<div class="c-news-item c-news-item-wrap">
		<div class="c-news-item-left">
			<i class="c-avator" style="background-image: url(../img/face.jpg);"></i>
			<i class="c-news-type"></i>
		</div>
		<div class="c-news-item-right">
			<h2 class="c-nickname">测试昵称</h2>
			<div class="c-news-item-line c-relative">
				<span class="c-distance">距你 1.2 km</span>
				<span class="c-aword c-right">陪您看电影</span>
			</div>
			<div class="c-news-item-line c-split-bottom">
				<p>测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述测试任务描述</p>
			</div>
			<div class="c-news-item-line c-relative">
				<span class="c-chart-num">0</span>
				<span class="c-sent-time c-right">2分钟前</span>
			</div>
		</div>
	</div><!-- c-news-item -->
</body>
</html>