.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
html, body{
  padding: 50px;
  position: relative;
  font:normal normal 13px "microsoft yahei", arial;
}
img{
  width: 100%;
  vertical-align: bottom;
}
input[type=text],
input[type=password]{
  border: 1px solid #000;
  padding: .3em;
}
button{
  border: 1px solid #000;
  padding: .3em;
}
a{
  color: #003BB3;
}
a:active{
  color: #f00;
}
p{
  min-height: 100px;
  width: 300px;
  border: 1px solid #ccc;
}
/* Function */
.fn-tc{
  text-align: center;
}
.hide{
  display: none;
}
.font-normal{
  font: normal normal 12px 'arial','宋体';
}
.no-obvious{
  color: #8E8E8E;
}