<!doctype html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8" />
	<title>土地登记申请书</title>
	<link rel="stylesheet" href="../css/standard/reset.css" />
	<link rel="stylesheet" href="../css/standard/table.css" />
</head>
<body>
	<div class="table-wrap">
	  <div class="header">
	    <h1>土地登记申请书</h1>
      <h2><span>编号: </span>02202020345</h2>
	  </div>
	  <table cellpadding="0" cellspacing="0">
	    <tr>
	      <th colspan="2" class="level-1">申请登记类型</th>
	      <td colspan="3"></td>
	    </tr>
	    <tr>
	      <th rowspan="4" class="level-1">登记申请人</th>
	      <th>申请单位</th>
        <td colspan="3"></td>
	    </tr>
	    <tr>
	      <th>使用权人</th>
	      <td></td>
        <th>法定代表人</th>
        <td></td>
	    </tr>
	    <tr>
        <th>代理人</td><td colspan="3"></th>
      </tr>
      <tr>
        <th>代理机构</td><td colspan="3"></th>
      </tr>
      <tr>
        <th rowspan="3" class="level-1">土地情况</th>
        <th>座落</th>
        <td colspan="3"></td>
      </tr>
      <tr>
        <th>面积</th>
        <td></td>
        <th>土地用途</th>
        <td></td>
      </tr>
      <tr>
        <th>权属性质</th>
        <td></td>
        <th>使用权类型</th>
        <td></td>
      </tr>
      <tr>
        <th class="level-1">抵押情况</th>
        <th>抵押面积</th>
        <td></td>
        <th>抵押金额</th>
        <td></td>
      </tr>
      <tr>
        <th class="level-1">权属情况</th>
        <td colspan="4"></td>
      </tr>
      <tr>
        <th class="level-1">其他</th>
        <td colspan="4"></td>
      </tr>
      <tr>
        <td colspan="5" class="tc" style="height: 30px;"><p style="font-size: 20px;">请申请人对上述填写的内容进行核对确认并对申请材料的真实性负责</p></td>
      </tr>
      <tr>
        <td colspan="5" class="tc">
          <input type="submit" value="确认"/>
        </td>
      </tr>
	  </table>
	</div>
</body>
</html>