<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>代码测试</title>
		<meta name="description" content="" />
		<meta name="author" content="zhangyang" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		
		<link rel="stylesheet" href="../css/bootstrap.css" />
		<link rel="stylesheet" href="../css/prettify.css" />
		
		<style>
			.navbar .navbar-inner{
				background: none white;
			}
			.brand img{
				height: 30px;
				vertical-align: bottom;
			}
			.navbar .brand{
				font:normal bold 26px/28px 'arial';
			}
			.navbar .brand small{
				font-size: .5em;
			}
			.navbar .brand a:hover{
				color: #0099CB;
				text-decoration: none;
			}
		</style>
		
		<link rel="stylesheet" href="../css/plugins/loading.css" />
		<link rel="stylesheet" href="../css/plugins/gridtree.css" />
		<link rel="stylesheet" href="../css/plugins/confirmpanel.css" />
		<link rel="stylesheet" href="../css/plugins/pagin.css" />
	</head>

	<body>
		<header class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<h1 class="brand">
						<a href="#"><img src="../img/logo_gtmap.png" alt="" />GTMAP</a>
						<small>前端代码片段</small>
					</h1>
				</div>
			</div>
		</header>
		<br /><br /><br /><br /><br />
		<div class="container">
			<nav>
				<ul class="nav nav-tabs">
					<li>
						<a href="#loading" data-toggle="tab">loading</a>
					</li>
					<li>
						<a href="#gridtree" data-toggle="tab">gridtree</a>
					</li>
					<li>
						<a href="#closeremove" data-toggle="tab">closeremove</a>
					</li>
					<li>
						<a href="#confirmPanel" data-toggle="tab">confirm</a>
					</li>
					<li>
						<a href="#pagin" data-toggle="tab">pagin</a>
					</li>
					<li>
						<a href="#ajax4data" data-toggle="tab">ajax4data</a>
					</li>
					<li class="active">
						<a href="#focusresult" data-toggle="tab">focusresult</a>
					</li>
					<li>
						<a href="#formSerializeObject" data-toggle="tab">formSerializeObject</a>
					</li>
					<li>
						<a href="#ajaxSubmit" data-toggle="tab">ajaxSubmit</a>
					</li>
				</ul>
			</nav>
		</div>
		<article>
			<div class="tab-content container">
				
				<div id="loading" class="tab-pane fade in">
					<h4>loading <br />
						<small>loading等待面板，常用在ajax异步加载等待时调用，默认情况下，loading就被封装了进了 window 上下文</small>
					</h4>
					<hr />
					<h5>API</h5>
<pre class="prettyprint lang-js linenums">
loading.show('这是一个loading画面，想关闭就刷新吧'); //打开loading
loading.hide(); // 关闭loading
</pre>
<hr />
					<div class="hero-unit">
						<button class="btn btn-large btn-info" onclick="loading.show('这是一个loading画面，想关闭就刷新吧');">显示loading</button>
					</div>
				</div>
				<!-- loading -->
				
				<div id="gridtree" class="tab-pane fade in">
					<div class="row">
						<div class="span6">
							<h4>listtree <br />
								<small>对 ul 标签提供支持</small>
							</h4>
							<hr />
							<ul id="listtree" class="nav">
								<li id="jcsj" data-has-child="true"><a href="#">基础数据</a></li>
								<li id="dljdm" data-has-child="true" data-parent="jcsj"><a href="#">道路及地名</a></li>
								<li id="sd" data-has-child="false" data-parent="dljdm"><a href="#">省道</a></li>
								<li class="active" id="czdt" data-has-child="false" data-parent="jcsj"><a href="#">城镇地图</a></li>
								<li data-has-child="false" data-parent="jcsj"><a href="#">基础地理中文名字加长测试名字加长测试</a></li>
								<li data-has-child="false" data-parent="jcsj"><a href="#">遥感影像</a></li>
								<li data-has-child="false" data-parent="jcsj"><a href="#">1:50万地质图</a></li>
								<li id="edsj" data-has-child="true" data-url="test/listtree.json"><a href="#">二调数据（点我测试异步加载）</a></li>
								<li class="last" id="dltb" data-has-child="true"><a href="#">地类图斑（我没有配URL，点我会报错）</a></li>
							</ul>
						</div>
						<div class="span6">
							<h4>gridtree <br />
								<small>对 tbody 标签提供支持</small>
							</h4>
							<hr />
							<table class="table table-bordered table-condensed">
	                        	<tbody id="tbodyGridTree">
		                        	<tr id="tdlyxz">
		                        		<td><a href="#"><i class="li-icon li-PARENT"></i> 土地利用现状</a></td>
		                        	</tr>
		                        	<tr data-parent="tdlyxz">
		                        		<td><a href="#"><i class="li-icon li-SON"></i> 一级分类现状</a></td>
		                        	</tr>
		                        	<tr data-parent="tdlyxz">
		                        		<td><a href="#"><i class="li-icon li-SON"></i> 二级分类现状</a></td>
		                        	</tr>
		                        	<tr data-parent="tdlyxz">
		                        		<td><a href="#"><i class="li-icon li-SON"></i> 土地利用现状</a></td>
		                        	</tr>
		                        	<tr id="tdlygh">
		                        		<td><a href="#"><i class="li-icon li-PARENT"></i> 土地利用规划</a></td>
		                        	</tr>
		                        	<tr data-parent="tdlygh">
		                        		<td><a href="#"><i class="li-icon li-SON"></i> 土地利用结构调整表</a></td>
		                        	</tr>
		                        	<tr data-parent="tdlygh">
		                        		<td><a href="#"><i class="li-icon li-SON"></i> 重点项目情况统计表</a></td>
		                        	</tr>
		                        	<tr data-parent="tdlygh">
		                        		<td><a href="#"><i class="li-icon li-SON"></i> 土地用途分区面积表</a></td>
		                        	</tr>
		                        	<tr id="ndbbsp">
		                        		<td><a href="#"><i class="li-icon li-PARENT"></i> 建设用地审批</a></td>
		                        	</tr>
		                        	<tr data-parent="ndbbsp">
		                        		<td><a href="#"><i class="li-icon li-SON"></i> 年度报表审批</a></td>
		                        	</tr>
		                        	<tr id="tdgyhliy">
		                        		<td><a href="#"><i class="li-icon li-PARENT"></i> 土地供应和利用统计</a></td>
		                        	</tr>
		                        	<tr data-parent="tdgyhliy">
		                        		<td><a href="#"><i class="li-icon li-SON"></i> 供地项目计划</a></td>
		                        	</tr>
		                        	<tr data-parent="tdgyhliy">
		                        		<td><a href="#"><i class="li-icon li-SON"></i> 地价走势图</a></td>
		                        	</tr>
		                        	<tr data-parent="tdgyhliy">
		                        		<td><a href="#"><i class="li-icon li-SON"></i> 出让金统计</a></td>
		                        	</tr>
	                        	</tbody>
	                        </table>
						</div>
					</div>
				</div>
				<!-- gridtree -->
				
				<div id="closeremove" class="tab-pane fade in">
					<h4>自动添加删除按钮 <br /><small>鼠标悬浮时，右上角会出现关闭按钮</small></h4>
					<hr />
					<h5>API</h5>
<pre class="prettyprint lang-js linenums">
$('#divCloseRemove').closeremove();					
</pre>
<hr />
					<div id="divCloseRemove" class="hero-unit">
						<h4>将鼠标悬浮一下</h4>
					</div>
				</div>
				<!-- closeremove -->
				
				<div id="confirmPanel" class="tab-pane fade in">
					<h4>confirm面板<br /><small>可以自定义reset及confirm回调函数。</small></h4>
					<hr />
					<h5>API</h5>
<pre class="prettyprint lang-js linenums">
$('#domId').confirms({
	reset : function(){
		alert('这是reset回调函数');						
	},
	confirm : function(){
		alert('这是confirm回调');
	}
});
</pre>
<hr />
					<div id="divConfirmPanel" class="hero-unit">
						<button class="btn btn-large btn-info" onclick="confirmss();" >显示面板</button>
					</div>
				</div>
				<!-- confirmPanel -->
				
				<div id="pagin" class="tab-pane fade in">
					<hr />
					<h4>分页控件 <br />
						<small>六个参数：jquery选择符或者分页容器对象，当前页，每页显示数，总数，最大显示分页按钮数，参数前缀</small>
					</h4>
					<h5>API</h5>
<pre class="prettyprint lang-js linenums">
Utils.pagin('#J_PAGIN', 5, 10, 200, 10);
Utils.pagin('#J_PAGIN2', 5, 10, 100, 10);
</pre>
<hr />
					<div class="hero-unit">
						<div id="J_PAGIN" class="pagin">
							<a href="#" class="prev">prev</a>
							<span>
								
							</span>
							<a href="" class="next">next</a>
						</div>
						<br />
						<div id="J_PAGIN2" class="pagin">
							<a href="#" class="prev">prev</a>
							<span>
								
							</span>
							<a href="" class="next">next</a>
						</div>
					</div>
				</div>
				<!-- pagin -->
				
				<div id="focusresult" class="tab-pane fade in active">
					<h4>强调结果
						<br />
						<small>依赖 jquery color animation 插件</small></h4>
					<hr />
					<h5>API</h5>
<pre class="prettyprint linenums lang-js">
$('#focusResultCtn').focusresult();
</pre>
					<hr />
					<div class="hero-unit">
						<div class="row-fluid">
							<div class="span6">
								<button data-result-ctn="#focusResultCtn(prepend)" href="test/ajax4data.json" class="btn btn-large btn-info a4d" onclick="$('#focusResultCtn').focusresult();">
									强调结果
								</button>
							</div>
							<div class="span6">
								<div id="focusResultCtn">
									一会儿这里会加数据
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div id="ajax4data" class="tab-pane fade in">
					<h4>ajax获取数据
					<br />
					<small>ajax向后台请求数据，数据以特定jQuery方法，显示在指定的dom内</small>
					</h4>
					<hr />
					<h5>API</h5>
					<p>
						首先需要给触发事件的按钮添加一个类 <code>a4d</code> 一个 <code>data-result-ctn="jquery选择字符串[(jquery方法)]"</code> 我这里写的是div的id。
						以及需要ajax访问的url <code>data-url="url"</code> 或者 <code>href="url"</code>。
						默认情况下 ajax for data 特性是被激活的，你不需要写任何 javascript 代码。
					</p>
<pre class="prettyprint lang-xml linenums">
&lt;button href="test/ajax4data.json" data-result-ctn="#a4dctn1" class="btn btn-large btn-info a4d"&gt;ajax4data(默认)&lt;/button&gt;
&lt;button data-url="test/ajax4data.json" data-result-ctn="#a4dctn2(append)" class="btn btn-large btn-info a4d"&gt;ajax4data(默认)&lt;/button&gt;
</pre>
					<hr />
					<div class="hero-unit">
						<div class="row-fluid">
							<div class="span6">
								<button href="test/ajax4data.json" data-result-ctn="#a4dctn1" class="btn btn-large btn-info a4d">ajax4data(默认)</button>
								<button data-url="test/ajax4data.json" data-result-ctn="#a4dctn2(append)" class="btn btn-large btn-info a4d">ajax4data(append)</button>
							</div>
							<div class="span6">
								<div id="a4dctn1">
									一会儿这里会加数据
								</div>
								<br />
								<div id="a4dctn2">
									一会儿这里会以append形式添加数据<br />
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ajax4data -->
				
				<div id="ajaxSubmit" class="tab-pane fade in">
					<h4>ajax提交表单</h4>
					
				</div>
				<!-- ajaxSubmit -->
				
			</div>
		</article>
		
		<footer>
			<div class="container">
				<hr />
				<p>
					&copy; Copyright 2013 by Ray Zhang.
				</p>
			</div>
		</footer>
		
		<!-- START Repo -->
		<script src="../js/vendor/jquery-1.9.1.min.js"></script>
		<script src="../js/vendor/bootstrap.js"></script>
		<script src="../js/vendor/jquery-ui.js"></script>
		<script src="../js/vendor/jquery.validationEngine.js"></script>
		<script src="../js/vendor/jquery.validationEngine-zh_CN.js"></script>
		<script src="../js/vendor/prettify.js"></script>
		<!-- END Repo -->
		
		<script src="../js/slip/utils.js"></script>
		
		<script src="../js/slip/func.common.js"></script>
		
		<script src="../js/slip/jquery.loading.js"></script>
		
		<script src="../js/slip/jquery.gridtree.js"></script>
		
		<script src="../js/slip/jquery.closeremove.js"></script>
		
		<script src="../js/slip/jquery.confirm.js"></script>
		
		<script src="../js/slip/func.pagin.js"></script>
		
		<script src="../js/slip/jquery.focusresult.js"></script>
		
		<script src="../js/slip/func.ajax4data.js"></script>
		
		<script>
			prettyPrint();
			
			$('#listtree').listtree();
			$('#tbodyGridTree').gridtree();
			
			$('#divCloseRemove').closeremove();
			
			function confirmss(){
				$('#divConfirmPanel').confirms({
					reset : function(){
						alert('这是reset回调函数');						
					},
					confirm : function(){
						alert('这是confirm回调');
					}
				});
			}
			
			Utils.pagin('#J_PAGIN', 5, 10, 200, 10);
			Utils.pagin('#J_PAGIN2', 5, 10, 100, 10);
		</script>
	</body>
</html>
