@color-header-bg-s: #F4783C;
@color-header-bg-e: #F15B28;

@color-btn-def-s: #F9F9F9;
@color-btn-def-e: #ECEBEB;
@color-btn-mai-s: #FEAB55;
@color-btn-mai-e: #E86F17;

@color-tab-act-s: #F4F3F3;
@color-tab-act-e: #fff;

@header-height: 48px;
@body-height: 620px;

@nav-selc-def-s: #FDFDFD;
@nav-selc-def-e: #F7F7F8;

@card-orange-s: #FAB62C;
@card-orange-e: #FA970F;

@card-red-s: #E77141;
@card-red-e: #DC5932;

@card-green-s: #C2E636;
@card-green-e: #A8DE53;

@card-gray-s: #D0D7DF;
@card-gray-e: #B9C4CF;

body, html{
  width: 1280px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  font: normal normal 12px 'arial';
}

.btn{
  background-image: -moz-linear-gradient(top, @color-btn-def-s, @color-btn-def-e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@color-btn-def-s), to(@color-btn-def-e));
  background-image: -webkit-linear-gradient(top, @color-btn-def-s, @color-btn-def-e);
  background-image: -o-linear-gradient(top, @color-btn-def-s, @color-btn-def-e);
  background-image: linear-gradient(to bottom, @color-btn-def-s, @color-btn-def-e);
  border: 1px solid #D1D2D2;
  text-align: center;
  color: #000;
  box-shadow: 0 0 3px rgba(0,0,0,.1) inset;
}
.btn_main{
  background-image: -moz-linear-gradient(top, @color-btn-mai-s, @color-btn-mai-e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@color-btn-mai-s), to(@color-btn-mai-e));
  background-image: -webkit-linear-gradient(top, @color-btn-mai-s, @color-btn-mai-e);
  background-image: -o-linear-gradient(top, @color-btn-mai-s, @color-btn-mai-e);
  background-image: linear-gradient(to bottom, @color-btn-mai-s, @color-btn-mai-e);
  border: 1px solid #C37934;
  color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
}
.tabwrap > a{
  background: #ccc;
  text-align: center;
  font-size: 18px;
  line-height: 34px;
  text-decoration: none;
  color: #000;
  border: 1px solid #EEEEEE;
  border-bottom: 0;
  background: #fff;
  box-shadow: 0 0px 2px rgba(0, 0, 0, .2) inset;
  &.active{
    background-image: -moz-linear-gradient(top, @color-tab-act-s, @color-tab-act-e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@color-tab-act-s), to(@color-tab-act-e));
    background-image: -webkit-linear-gradient(top, @color-tab-act-s, @color-tab-act-e);
    background-image: -o-linear-gradient(top, @color-tab-act-s, @color-tab-act-e);
    background-image: linear-gradient(to bottom, @color-tab-act-s, @color-tab-act-e);
    box-shadow: 0 2px 1px rgba(255, 255, 255, 1) inset, 0 -1px 2px rgba(0, 0, 0, .2);
    position: relative;
    z-index: 100;
  }
}

.ico{
  display: inline-block;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  &.ico_back{
    width: 40px;
    height: 38px;
    background-position: -15px -217px;
    text-indent: -9999px;
  }
  &.ico_face{
    width: 26px;
    height: 26px;
    background-position: -16px -320px;
    vertical-align: middle;
  }
  &.ico_chart{
    width: 40px;
    height: 38px;
    background-position: -15px -262px;
    text-indent: -9999px;
  }
  &.ico_voice{
    width: 40px;
    height: 38px;
    background-position: -15px -56px;
  }
  &.ico_domestic{
    width: 40px;
    height: 38px;
    background-position: -12px -106px;
  }
  &.ico_sms{
    width: 40px;
    height: 38px;
    background-position: -15px -4px;
  }
  &.ico_database{
    width: 40px;
    height: 38px;
    background-position: -13px -158px;
  }
}

header{
  height: @header-height;
  background-image: -moz-linear-gradient(top, @color-header-bg-s, @color-header-bg-e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@color-header-bg-s), to(@color-header-bg-e));
  background-image: -webkit-linear-gradient(top, @color-header-bg-s, @color-header-bg-e);
  background-image: -o-linear-gradient(top, @color-header-bg-s, @color-header-bg-e);
  background-image: linear-gradient(to bottom, @color-header-bg-s, @color-header-bg-e);
  background-repeat: repeat-x;
  position: relative;
  border-bottom: 1px solid #AB5537;
  box-shadow: 0 1px 2px rgba(0,0,0,.4);
  color: #fff;
  & > h1{
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 48px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  }
  & > .left_panel, & > .ico_chart{
    position: absolute;
    top: 0;
  }
  & button{
    background: none;
    border: 0;
    display: inline-block;
  }
  & > .left_panel{
    top: 4px;
  }
  & > .left_panel > .ico_back{
    margin-left: 10px;
  }
  & > .left_panel > .profile{
    display: inline-block;
    text-shadow: 0 1px 0 rgba(0,0,0, .3);
  }
  & > .ico_chart{
    right: 10px;
  }
}

div.body{
  height: @body-height;
  margin-top: .5%;
  position: relative;
  & > nav{
    position: absolute;
    height: 100%;
    width: 27%;
    border-right: 1px solid #E8E8E8;
    left: 0;
    top: 0;
    & > .btngrp{
      text-align: center;
      padding: 5% 0;
      & > a{
        display: inline-block;
        width: 40%;
        height: 34px;
        text-decoration: none;
        font-size: 22px;
        line-height: 34px;
        font-weight: bold;
      }
    }
    & > .tabgrp{
      width: 100%;
      & > .tabwrap{
        width: 50%;
        display: inline-block;
        margin: 0;
        & > a{
          display: block;
          height: 34px;
        }
      }
    }
    
    & > .tabctn{
      padding: 0;
      & > .tabitem > ul{
        padding: 0;
        margin: 0;
        & > li > .item{
          position: relative;
          height: 74px;
          background-image: -moz-linear-gradient(top, @nav-selc-def-s, @nav-selc-def-e);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@nav-selc-def-s), to(@nav-selc-def-e));
          background-image: -webkit-linear-gradient(top, @nav-selc-def-s, @nav-selc-def-e);
          background-image: -o-linear-gradient(top, @nav-selc-def-s, @nav-selc-def-e);
          background-image: linear-gradient(to bottom, @nav-selc-def-s, @nav-selc-def-e);
          margin: .8em .4em;
          border-radius: 5px;
          border: 1px solid #E7E9E9;
          box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
          &.active{
            background: #FFF1E5;
            border: 1px solid #FCDDC4;
            box-shadow: 0 0px 4px rgba(0, 0, 0, .1) inset;
          }
          & > h4{
            position: absolute;
            font-size: 1.6em;
            margin: 0;
            padding: 0;
            text-align: center;
            width: 50%;
            top: 12px;
            font-weight: normal;
            & > small{
              font-size: 12px;
            }
          }
          & > div{
            margin-left: 50%;
            height: 100%;
            margin-top: 14px;
            & > div{
              height: 40%;
            }
          }
        }
      }
    }
  }
  
  & > .main{
    margin: 0 239px 0 27.5%;
    position: relative;
    height: 100%;
    & > .cards{
      & > .card{
        width: 32%;
        float: left;
        border: 1px solid #eee;
        border-radius: 4px;
        margin: 0 .8% 10px 0;
        & > .card-inner{
          height: 84px;
          background: #ccc;
          border-radius: 4px;
          margin: 5px;
          position: relative;
          color: #fff;
          box-shadow: 0 1px 0 rgba(255,255,255,.5) inset, 0 0 2px rgba(0,0,0,.3);
          & > .left{
            position: absolute;
            width: 40%;
            text-align: center;
            & > p{
              margin: 0;
            }
          }
          & > .right{
            margin-top: 22px;
            text-align: right;
            padding-right: 10px;
            & > strong{
              font-size: 2.2em;
            }
          }
        }
        & > .voice{
           background-image: -moz-linear-gradient(top, @card-orange-s, @card-orange-e);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@card-orange-s), to(@card-orange-e));
            background-image: -webkit-linear-gradient(top, @card-orange-s, @card-orange-e);
            background-image: -o-linear-gradient(top, @card-orange-s, @card-orange-e);
            background-image: linear-gradient(to bottom, @card-orange-s, @card-orange-e);
        }
        & > .data{
           background-image: -moz-linear-gradient(top, @card-red-s, @card-red-e);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@card-red-s), to(@card-red-e));
            background-image: -webkit-linear-gradient(top, @card-red-s, @card-red-e);
            background-image: -o-linear-gradient(top, @card-red-s, @card-red-e);
            background-image: linear-gradient(to bottom, @card-red-s, @card-red-e);
        }
        & > .sms{
           background-image: -moz-linear-gradient(top, @card-green-s, @card-green-e);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@card-green-s), to(@card-green-e));
            background-image: -webkit-linear-gradient(top, @card-green-s, @card-green-e);
            background-image: -o-linear-gradient(top, @card-green-s, @card-green-e);
            background-image: linear-gradient(to bottom, @card-green-s, @card-green-e);
        }
        & > .recurring{
           background-image: -moz-linear-gradient(top, @card-gray-s, @card-gray-e);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@card-gray-s), to(@card-gray-e));
            background-image: -webkit-linear-gradient(top, @card-gray-s, @card-gray-e);
            background-image: -o-linear-gradient(top, @card-gray-s, @card-gray-e);
            background-image: linear-gradient(to bottom, @card-gray-s, @card-gray-e);
            
        }
      }
    }
    & > .desc{
      & > h2{
        font-size: 1.4em;
        margin: 0;
        padding: 0;
        line-height: 20px;
      }
      & > p{
        font-size: 1.4em;
        font-weight: bold;
        margin: 0;
        padding: 0;
      }
    }
    & > .btn_main{
      width: 160px;
      text-align: center;
      font-size: 1.4em;
      padding: 6px 0;
      bottom: 20px;
      display: block;
      position: absolute;
      bottom: 20px;
      left: 50%;
      margin-left: -80px;
    }
  }
  
  & > .contrasts{
    position: absolute;
    height: 100%;
    width: 238px;
    border-left: 1px solid #E8E8E8;
    right: 0;
    top: 0;
    & > .clearfix{
       height: 90%;
       width: 90%;
       margin: 5% auto;
       position: relative;
       & > .contrast-section{
         width: 48%;
         margin: 2px;
         float: left;
         height: 50%;
         background: #F7F8FA;
         border-radius: 4px;
         box-shadow: 0 0 3px rgba(0,0,0,.3) inset;
       }
       & > .do-bg{
         position: absolute;
         width: 130px;
         height: 130px;
         border-radius: 65px;
         background: #fff;
         box-shadow: 0 0 3px rgba(0,0,0,.2);
         top: 50%;
         left: 50%;
         margin-top: -65px;
         margin-left: -65px;
         & > .do-wrap{
           width: 100px;
           height: 100px;
           margin-top: 15px;
           margin-left: 15px;
           border-radius: 50px;
           background: #EAEBEB;
           box-shadow: 0 1px 3px rgba(0,0,0,.5) inset;
           & > .dovs{
             width: 80px;
             height: 80px;
             margin-top: 10px;
             margin-left: 10px;
             background: #fff;
             box-shadow: 0 2px 3px rgba(0,0,0,.5);
             border: 0;
             border-radius: 40px;
             color: #A7A7A7;
             font-size: 2.3em;
             font-weight: bold;
             text-shadow: 0 -1px 0px rgba(0,0,0,.8);
           }
         }
       }
    }
  }
}