body, input{
  font: normal normal 14px 'microsoft yahei','宋体','arial';
  background-color: #FFF;
}
.table-wrap{
  width: 1024px;
  height: 768px;
  margin: 0 auto;
}
.table-wrap .header{
  position: relative;
  height: 100px;
  line-height: 100px;
}
.table-wrap h1, h2{
  margin: 0;
}
.table-wrap h2{
  position: absolute;
  right: 0;
  top: 8px;
  font-weight: normal;
  font-size: 20px;
}
.table-wrap table{
  width: 100%;
  height: 668px;
  border: 1px solid #DDDDDD;
  border-bottom: 0;
  border-left: 0;
  background-color: #FFF;
}
.table-wrap table td
, .table-wrap table th{
  border: 1px solid #DDDDDD;
  border-right: 0;
  border-top: 0;
  width: 20%;
  padding-left: 1em;
}
.table-wrap table th{
  background-color: #F7F7F7;
  border-color: #DDDDDD;
  text-align: left;
  color: #444;
}
.table-wrap table th.level-1{
  text-align: center;
  font-size: 16px;
  background-color: #EAEAEA;
  color: #222;
}
.table-wrap table input[type=submit]{
  border: 1px solid #912341;
  background: #B9321D none;
  padding: 4px 40px 4px 50px;
  font-size: 24px;
  color: #FFF;
  border-radius: 5px;
  letter-spacing: 10px;
}
.table-wrap table input[type=submit]:hover{
  background: #D13921;
  cursor: pointer;
}
.tc,
td.tc{
  text-align: center;
}
