/*
 * @name: base.css
 * @decription: 常用基础设置 css code
 * @version: 0.1
 * @creator: lpgray
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
html, body{
  width: 100%;
  position: relative;
  font-size: 13px;
  font-family: "宋体", arial;
  background-color: #fff;
}
img{
  width: 100%;
  vertical-align: bottom;
}
input[type=text],
input[type=password],
select{
  border: 1px solid #000;
  padding: .3em;
}
input[type=submit],
button{
  border: 1px solid #000;
  padding: .3em;
}
label input[type=checkbox],
label input[type=radio]{
  vertical-align: top;
  display: inline-block;
  margin-right: 1px;
  margin-top: 1px;
  *margin-top: 0;
}
/* Function */
.fn-tc{
  text-align: center;
}
.fn-tl{
  text-align: left;
}
.fn-tr{
  text-align: right;
}
.hide{
  display: none;
}
.font-normal{
  font: normal normal 12px 'arial','宋体';
}
.no-obvious{
  color: #8E8E8E;
}