#download{
  background-color: #f5f5f5;
  #phone{
    margin-top: 150px;
    width: 353px;
    height: 406px;
    background: url(../img/sprite.png) 0 0 no-repeat;
    float: left;
  }
  #welcome p{
    text-indent: -9999px;
    width: 436px;
    height: 95px;
    background: url(../img/sprite.png) -368px 0 no-repeat;
  }
  .cell{
    margin: 150px 0 0 480px;
    .btns{
      .btn{
        text-indent: -9999px;
        display: inline-block;
        width: 191px;
        height: 62px;
        background: url(../img/sprite.png) 0 0 no-repeat;
      }
      .andriod{
        background-position: -370px -95px
      }
      .andriod:hover {
        background-position: -370px -157px
      }
      .ios{
        background-position: -560px -95px
      }
      .ios:hover {
        background-position: -560px -157px
      }
    }
  }
}