#features{
  background-color: #fff;
  color: #222;
  p{
    text-shadow: none;
  }
  .bottom-desc{
    color: #c6c6c6;
    line-height: 30px;
    font-size: 16px;
    & > span{
      letter-spacing: 10px;
      padding-left: -10px;
    }
  }
  & ul{
    & > li{
      list-style: none;
      float: left;
      width: 50%;
      p{
        font-size: 14px;
        line-height: 24px;
      }
      .thumnail{
        width: 282px;
        height: 155px;
      }
      h3{
        font-size: 26px;
        letter-spacing: 2px;
      }
    }
    & > .task{
      h3{
        color: #fb5d5d;
      }
      .thumnail{
        background: url(../img/sprite2.png) 0 -703px no-repeat; 
      }
    }
    & > .party{
      width: 40%;
      margin-left: 10%;
      h3{
        color: #24b119;
      }
      .thumnail{
        background: url(../img/sprite2.png) 0 -858px no-repeat;
      }
    }
  }
}