/*
 * @name: newsList css
 */
.c-relative{
	position: relative;
}
.c-relative .c-right{
	position: absolute;
	right: 0;
	top: 0;
}
.c-news-item{
	background-color: #fff;
	border-radius: 5px;
	padding: 5px;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
.c-news-item .c-news-item-left{
	position: absolute;
	width: 46px;
}
.c-news-item .c-news-item-right{
	margin-left: 46px;
}
.c-news-item .c-avator {
	height: 36px;
	width: 36px;
	display: block;
	background-size: 36px;
	background-position: center center;
	border-radius: 28px;
	margin-left: 5px;
}
.c-news-item h2.c-nickname {
	color: #2772EF;
	font-weight: bold;
	font-size: 1.2em;
	margin: 0;
}
.c-news-item .c-distance, .c-news-item .c-sent-time {
	color: #C2C2C2;
}
.c-news-item .c-aword {
	color: #F4595F;
}
.c-news-item .c-chart-num {
	color: #2F9CC5;
}
.c-news-item .c-split-bottom{
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 5px;
}
.c-news-item p{
	margin: 5px 0;
}